.log {
  grid-area: l;
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}
.log a {
  margin: 15px 10px;
  color: rgb(219, 79, 79);
  font-size: 20px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.singIn {
  border: 2px solid rgb(219, 79, 79);
  padding: 2px 3px;
  border-radius: 20%;
}
