.app-wrapper {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  grid-template-areas:
    "h l l"
    "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: rosybrown;
  margin-left: 10px;
  margin-top: 10px;
}
